* {
    margin: 0;
}
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
}


nav {
    padding-top: 10px;
    padding-bottom: 9px;
    height: 50px;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    width: 100%;
}

nav img {
    float: left;
    height: 50px;
}

nav li {
    text-decoration: underline;
    display: inline;
    float: right;
    margin: 10px;
}

.banner {
    padding-top: 69px;
    height: 700px;
    width:1200px;
    background-image: url('resources/img-mission-background.webp');
    background-repeat: no-repeat;
    background-size:cover;
}

.banner h2, .banner h4 {
    background-color: black;
}

.banner h2 {
    margin-top: 350px;
    padding-top: 10px;
    padding-bottom: 16px;
}

.banner h4 {
    padding-bottom: 10px;
}